# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
.DS_Store

# Make
Makefile
Makefile.Debug
Makefile.Release

# Qt
.qmake.stash
release/
debug/
object_script.*.Debug
object_script.*.Release
*.autosave
src/build-tests-Qt_5_10_0_5_10_0-Debug/tests
*.txt
src/build-tests-Qt_5_10_0_5_10_0-Release/tests
